<?xml version="1.0" ?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="fanuc">

  <!-- Inclue fanuc robot macro -->
  <xacro:include filename="$(find fanuc_description)/urdf/fanuc_macro.xacro"/>

  <!-- Include ROS2 Control macro -->
  <xacro:include filename="$(find fanuc_description)/urdf/fanuc.ros2_control.xacro"/>

  <link name="world"/>

  <!-- Run fanuc macro -->
  <xacro:fanuc parent="world" />

  <!-- Run ros2 macro -->
  <xacro:fanuc_ros2_control name="fanuc" />

</robot>